# ignore .mat files except for patches, RF filters and whitening filters
*.mat
*.jpg
# !patches_*_*.mat - don't add patches for now as they are pretty big
!filters_*_*.mat
!sigmaX_*.mat
!c_*.mat
!wnodes_*.mat
!bin/filtermatching.mat
!cmp_*.mat
!img_*mat
!covariance_template*mat
!test_indices*mat
!directions*mat
# ignore generated figures
*.fig
# also temporary code files created by matlab
*~
# and swap files created by vi
*.swp
