# ignore .mat files except for patches, RF filters and whitening filters
*.mat
# !patches_*_*.mat - don't add patches for now as they are pretty big
!filters_*_*.mat
!wnodes_*.mat
!filtermatching.mat
!cmp_*.mat
# ignore generated figures
*.fig
# also temporary code files created by matlab
*~
# and swap files created by vi
*.swp
